<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	<bean class="in.careerit.beans.Student" id="student1">
		<property name="studId" value="1001"/>
		<property name="studName" value="Balu"/>
		<property name="emailId" value="balu@gmail.com"/>
	</bean>
	<bean class="in.careerit.beans.Student" id="student2">
		<property name="studId" value="1002"/>
		<property name="studName" value="Bad Boy"/>
		<property name="emailId" value="badboy@gmail.com"/>
	</bean>
	<bean class="in.careerit.beans.Employee" id="employee1">
		<property name="empId" value="11"/>
		<property name="empName" value="babu"/>
		<property name="empSal" value="20,000/-"/>
	</bean>
	
</beans>